body {
  background-color: #a11b5c;
  font-family: Georgia, serif;
}

.form {
  border: 1px solid black;
  height: 40%;
  width: 50%;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}

.heading {
  text-align: center;
}

.div_style {
  width: 80%; 
  margin: auto;
}

.label_style {
  width: 90%;       
}

.input_style{
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
 background-color:#f2ecec;
  position: relative;
  float: right;
}

.btn {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Georgia, serif;
  font-size: 18px;
  background-color: rgb(97, 185, 207);
  text-align: center;
  margin-left: 40%;
  margin-right: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
}

textarea{
  resize: none;
}

.seterror{
  color: red;
  font-size: 12px;
  margin-left: 45%;
  width: 50%;
  padding-bottom: 15px;
  position: relative;
  float: right;
}